<template name="promocao">
    <div>
        <form name="formPromocao">
            <br>
            Colocacao: <input type="text" name="colocacao" id="colocacao"><br>
            Nome da Promocao: <input type="text" name="promocao" id="promocao"><br>
            Nome do Estabelecimento: <input type="text" name="estabelecimento" id="estabelecimento"><br>
            Pontos: <input type="text" name="pontos" id="pontos"><br>
            <button type="submit" id="submit">Inserir</button>
        </form>
    </div>
</template>